<div class="title-wrapper">

  <div class="wrapper">
    <div class="services-title"> The CompCodes's Architectural and </div>
    <div class="services-title">Engineering services</div>
    <br><br><br>
    <div class="services-sub-title">
    The Comp Codes's team of skilled Architectural and Engineering drafters, Architect, and
Structural Engineer, along with its workflow software, are ready to take on projects and turn a
customer's vision into buildings that enrich communities. Our Approach results in beautiful
building designs, construction plan sets, and permitting processes at an affordable cost.
    </div>
  </div>

  <br>
  <div class="cards">
    <div class="card">
    <%= image_tag("bridge.png", class: "projects-take-on-get-button") %>
    <br>
    <br>
      The software will allow Construction Professionals, Municipal Building and
      Safety Departments to bridge the divide between construction and permitting.
    </div>
    <div class="card">
      <%= image_tag("workflow.png", class: "projects-take-on-get-button") %>
      <br>
      <br>
      Provide an Agile Work Flow Management of all Planning and Development construction processes
    </div>
    <div class="card">
    <%= image_tag("pencil-protractor.png", class: "projects-take-on-get-button") %>
      <br>
      <br>
      Generate Architectural and Engineering Plan Set Solutions
    </div>
  </div>
</div>
<br>
<br>
<br>
