<div class="title-wrapper">
  <br>
  <br>
    <h1>Privacy Policy for The Comp Codes</h2>
    Last updated: 08-09-2020
<br>
<br>
<br>
<div>1. We will never sell your data</div>
<div>2. We will operate with open source software for transparency</div>
<div>3. We will encrypt all data in transit</div>
<div>4. Passwords are securely managed and stored</div>

<h2>What data is collected?</h2>
At a minimum we require your email, phone number, and IPs you come from. These are required to know who you are and for verification. All interactions with the system are logged for auditing and full transparency. Data about your project is stored and not shared with third parties.

<h2>How is data being collected?</h2>
Data is collected via forms by the web server running the software. Clients send their data to servers which is stored. All interactions with the system are logged. 

<h2>What are we going to do with the data?</h2>
The data is used to provide the service and nothing else. The code is fully open source so you can see for yourself.

<h2>What can you do with your own data?</h2>
You can delete or deactivate your account at any moment in time. This will only delete the account and not the trail of data which was left behind or the backups. We require that all audit trail remain in order for the platform to remain HIPAA compliant. This data could be used to deanonymize you.

  <br>
  <br>
  <br>
  <br>
</div>
