<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi, <%= @reset_obj.user.email %>!</h3>
    <p>Click the link to reset password. <a href="https://dev.comp.codes/api/v1/users/reset-password?token=<%= @reset_obj.token %> ">Reset Password</a></p>
  </body>
</html>
