<div class="title-wrapper">
  <div class="left-building">
    <%= image_tag("left-building.png", class: "") %> 
  </div>
  <div class="right-building">
    <%= image_tag("right-building.png", class: "") %> 
  </div>
  <div class="title">We Turn Your Vision</div>
  <div class="title">Into Reality</div>
  <br><br><br>

  <div class="sub-title">The Comp Codes provides a swift and agile solution with the use
of software to design and develop construction permit Plan Sets</div>
  <br><br><br>
  <div class="get-button"> 
    <%= image_tag("get-it-now.png", class: "") %>
  </div>
</div
