<div class="title-wrapper">
  <div class="contact-us-wrapper">
    <%= image_tag("contact-us-blue-box.png", class: "contact-us-background") %>
    <%= image_tag("open-a-box.png", class: "contact-us-open-box") %>
    <% if !@has_email_subscribed %>
      <div class="contact-us-header-text">Contact Us</div>
      <div class="contact-us-sub-text">Feel free to drop us a message, we'll be happy to reply you back.</div>
    <% else %>
      <div class="contact-us-header-text">Success!</div>
      <div class="contact-us-sub-text">You have subscribed to our newsletter! Send us a message too =)</div>
    <% end %>
    <div class="contact-us-name">Name</div>
    <div class="contact-us-name-box">
      <input type="text"></input>
    </div>
    <div class="contact-us-email">Email</div>
    <div class="contact-us-email-box">
      <input type="text"></input>
    </div>
    <div class="contact-us-message">Message</div>
    <div class="contact-us-message-box">
      <textarea rows="5" cols="30" name="email-box">
      </textarea>
      <input class="contact-us-submit" type="submit" value="submit" />
    </div>
  </div>
</div>
