<div class="title-wrapper">
  <div class="about-us-wrapper">
    <%= image_tag("blue-background-about-us.png", class: "about-us-background") %>
    <%= image_tag("guy-pointing-about-us.png", class: "about-us-pointing") %>
    <div class="about-us-text">The Comp Codes has an efficient and agile team of
Architectural and Engineering drafters that are
dedicated to a clients vision. We collaborate with
Licensed Architects, Engineers, and Construction
Development Professionals to shepherd projects to
successful completion at an affordable cost.
      <br>
      <br>
The Comp Codes will use highly secure and efficient
software to provide Construction draftiing solutions in
Architecture and Engineering. It will provide an agile
work flow management of Construction Development
and its various phases. As well as bridge the divide
between Construction Professionals, and Municipal
Building and Safety Departments.
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div>What we can do
</div>
