.contact-us-wrapper {
  postion: relative;
  text-align: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-us-open-box {
  position: absolute;
  top: 234px;
  left: 16%;
}

.contact-us-header-text {
  position: absolute;
  text-align: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  top: 500px;
  left: 20%;
}

.contact-us-sub-text {
  position: absolute;;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  top: 600px;
  left: 15%;
  font-size: 18px;
  width: 35%;
}

.contact-us-name {
  position: absolute;;
  color: dodgerblue;;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  top: 250px;
  left: 31%;
  font-size: 18px;
  width: 50%;
}

.contact-us-name-box {
  position: absolute;;
  color: dodgerblue;;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  top: 280px;
  left: 38%;
  font-size: 18px;
  width: 50%;
}

.contact-us-email {
  position: absolute;;
  color: dodgerblue;;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  top: 345px;
  left: 31%;
  font-size: 18px;
  width: 50%;
}
.contact-us-email-box {
  position: absolute;;
  color: dodgerblue;;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  top: 366px;
  left: 38%;
  font-size: 18px;
  width: 50%;
}

.contact-us-message {
  position: absolute;;
  color: dodgerblue;;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  top: 439px;
  left: 32%;
  font-size: 18px;
  width: 50%;
}

.contact-us-message-box {
  position: absolute;;
  color: dodgerblue;;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  top: 476px;
  left: 53%;
  font-size: 18px;
  width: 19%;
}

.contact-us-submit {
  position: absolute;;
  color: dodgerblue;;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  top: 101%;
  left: 0%;
  font-size: 18px;
  width: 19%;
}

input[type=text], select {
  width: 39%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #FFC431;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #FFC431;
}
