.title-wrapper {
  width: 800px;
  margin: auto;
  padding: 10px;
}
.title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
  font-weight: bold;
}

.sub-title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;;
  color: gray;
}

.get-button {
  text-align: center;
}

.left-building {
  float: left;
}

.right-building {
  float: right;
}

.arch-design-center {
  position: relative;
  text-align: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.arch-design-top-left {
  position: absolute;
  top: 80px;
  left: 80px;
  font-size: 40px;
}

.sub-arch-design-top-left {
  position: absolute;
  top: 100px;
  left: 80px;
  font-size: 20px;
  color: gray;
  margin-right: 400px;
  margin-top:30px;
}

.get-button-arch-design {
  position: absolute;
  top: 150px;
  left: 80px;
  margin-right: 400px;
  margin-top: 120px;
}

.services-title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  font-weight: bold;
}

.services-sub-title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;;
  color: gray;
}

.take-on-projects {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;;
  position: relative;
  text-align: center;
}

.take-on-projects-header-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-decoration: underline;
}

.projects-take-on-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.coming-soon {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: gray;
}

.coming-soon-title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: black;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}
 
.card {
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: .5rem;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: gray;
} 
