.title-wrapper {
  width: 75%;
  margin: auto;
  padding: 10px;
}
.title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
  font-weight: bold;
}

.sub-title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;;
  color: gray;
}

.get-button {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;;
  color: black;
  text-decoration: underline;
  border-style:solid;
  background-color: #FCCF3E;
  margin: auto;
  width: 20%;
}
  padding-right: 25px;
}
