<footer>
  <div class="footer-wrapper">
    <%= image_tag("background-image-blue.png", class:"footer-background") %>
    <div class="inline">
      <div class="footer-links">
        <div class="footer-link"><a href="/aboutus">About Us</a></div>
          <br>
        <div class="footer-link"><a href="/contactus">Contact Us</a></div>
          <br>
        <div class="footer-link"><a href="/terms">Terms and Conditions</div>
          <br>
        <div class="footer-link"><a href="/privacy">Privacy Policy</a></div>
      </div>
      <div class="sign-up">
        <div>Subscribe to our Newsletter</div>
        <div>
          <form action="/subscribe" method="post">
          <label for="email">Email:</label>
          <input type="text" id="femail" name="femail" value="">
          <input type="submit" value="Submit">
          </form>
        </div>
      </div>
      <div class="social-medias">
        <%= image_tag("facebook.png") %>
        <%= image_tag("instagram.png") %>
        <%= image_tag("linkedin.png") %>
      </div>
      <div class="copy-right">The Comp Codes. Copyright 2020| All Rights Reserved</div>
    </div>
  </div> 
</footer>
