<!-- footer -->
<div class="footer pt-11 pb-3 footer-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-12">
        <div class="mb-4">
          <ul class="list-unstyled list-group">
            <li class="list-group-item"><a href="/aboutus" class="list-group-item-link">About Us</a></li>
            <li class="list-group-item"><a href="/contactus" class="list-group-item-link">Contact Us</a></li>
            <li class="list-group-item"><a href="/terms" class="list-group-item-link">Terms and Conditions</a></li>
            <li class="list-group-item"><a href="/privacy" class="list-group-item-link"> Privacy Policy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="mb-4">
          <div>
            <p class="footer-text">Subscribe to our Newsletter</p>
            <form action="/subscribe" method="post">
              <div class="form-group">
                <input type="text" class="form-control border-white" id="femail" name="femail" value="" placeholder="Type Email">
              </div>
              <button type="submit" class="btn footer-submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="social-medias">
          <a href="https://www.facebook.com/comp.codes.37"><%= image_tag("facebook.png") %></a>
          <a href="https://www.instagram.com/thecompcodes/?hl=en"><%= image_tag("instagram.png") %></a>
          <a href="https://www.linkedin.com/in/the-compcodes-a3163a1b4/"><%= image_tag("linkedin.png") %></a>
        </div>
      </div>
      <div class="col-md-12">
        <div class="mt-12">
          <ul class="list-inline">
            <li class="list-inline-item">The Comp Codes. Copyright 2020 | All Rights Reserved</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>