<div class="header fixed-top">
  <div class="container-lg">
    <nav class="navbar navbar-expand-lg navbar-default">
      <a class="navbar-brand" href="/"><%= image_tag("logo.jpg", class: 'logo') %></a>
      <button
        class="navbar-toggler collapsed"
        type="button"
        data-toggle="collapse"
        data-target="#navbar-default"
        aria-controls="navbar-default"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="icon-bar top-bar mt-0"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-default">
        <button
          class="navbar-toggler collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#navbar-default"
          aria-controls="navbar-default"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-times"></i>
        </button>
        <ul class="navbar-nav ml-auto mr-lg-3">
          <li class="nav-item">
            <a
              class="nav-link"
              href="/"
            >
              Home
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="/services"
            >
              Services
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aboutus">
              About Us
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contactus">
              Contact Us
            </a>
          </li>
        </ul>
        <div class="header-btn ">
          <a href="tel:+18056791282" class="nav-btn btn btn-md">+805-679-1282</a>
          <a href="/getitnow" class="nav-btn btn btn-md">Get Quote Now</a>
        </div>
      </div>
    </nav>
  </div>
</div>
