<div class="header">
  <%= image_tag("logo.png", class: "responsive") %>
  <div class="header-right">
    <a href="/">Home</a>
    <a href="/services">Services</a>
    <a href="/projects">Projects</a>
    <a href="/aboutus">About Us</a>
    <a href="/contactus">Contact Us</a>
    <a class="active" href="/getitnow">Get it now</a>
  </div>
</div>
