<div class="header">
  <div class="header-left">
    <%= image_tag("logo.jpg", class: "logo") %>
  </div>
  <div class="header-right">
    <a href="/">Home</a>
    <a href="/services">Services</a>
    <a href="/projects">Projects</a>
    <a href="/aboutus">About Us</a>
    <a href="/contactus">Contact Us</a>
    <a class="active" href="/getitnow">Get it now</a>
  </div>
</div>
