<div class="header">
  <div class="header-left">
    <a href="/"><%= image_tag("logo.jpg", class: "logo") %></a>
  </div>
  <div class="header-right">
    <a href="/">Home</a>
    <a href="/services">Services</a>
    <a href="/aboutus">About Us</a>
    <a href="/contactus">Contact Us</a>
    <a class="active" href="tel:+18056791282">Call Us</a>
    <a class="active" href="/getitnow">Get it now</a>
  </div>
</div>
